body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
.body3 {
   overflow: auto;
   padding: 0px !important;
       height: 100px;  
  }  

.left_panel {
	font-size: 0.9em;
    width: 225px;
    height: 100%;
    float: left;
}
.grid_panels {
    vertical-align: top;
}

#container {
    margin: 0;
    padding: 0 0px 0px 0px;
    width: 100%; 
    background: #FFFFFF;
    padding-left: 2;
    padding-top: 2;
    padding-right: 2;
}

#header {
	width: 100%;
	margin: 0 auto;
	height: 60px;
	top: 0px;
	border-bottom-width: 1px;
}

#body {
	left: 85px;
	position: absolute;
	top: 70px;
	bottom: 0px;
	margin: 0 auto;
	border: none;
	overflow: auto;
}
		 
#sidebar {
	position: absolute;
	top: 70px;
	bottom: 0px;
    font-size: 0.9em;
    width: 80px;
    float: left;
    background: #EAECEE;
    padding: 0 15px 5px 15px;
    overflow: auto;
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 0 0 0 0;
}
code {
    font-size: 1.1em;
}
span.invalid {
    padding-left: 3px;
    color: red;
}

.header-logo-column {
	width: 80px;
	text-align: left;
}

.header-search-field-column {
	width: 100px;
	text-align: right;
}

.header-search-button-column {
	width: 100px;
	text-align: left;
}

.column1 {
	width: 30%;
	text-align: left;
}

.column2 {
	width: 40%;
	text-align: center;
}

.column3 {
	width: 30%;
	text-align: right;	
}

.hdr-user-name {
	width: 200px;
	height: 40px;
	text-align: right;
	font: 15px arial,sans-serif;
}

.hdr-user-pic {
	width: 25px;
	height: 40px;
	text-align: center;
}

.hdr-user-logout {
	width: 25px;
	height: 40px;
	text-align: center;
}

.column75 {
	width: 75%
}

.column25 {
	width: 25%
}

.column35 {
	width: 35%;
}

.column65 {
	width: 65%;
}

.label-column {
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	height: 20px;
	width: 15%;
	font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
}

.column-l-align {
	text-align: left;
	padding-left: 5px;
	height: 20px;
	width: 35%;
	font-family: Arial, Verdana, sans-serif;
    font-size: 11px;	
}

.centered {
	margin: 0px auto;
}

.commandButton {
	cursor: pointer;
}

#links {
        width:205px;
        overflow:auto;
        min-height: 100%;
}
#links ul {
 list-style-type:none;
 margin:0;
 padding:0;
 width:200px;
}
#links li {
 border:1px dotted #999;
 border-width:1px 0;
 margin:5px 0;
}
#links li a {
 color:#000066;
 display:block;
 font:bold 14px Arial, Helvetica, sans-serif;
 padding:5px;
 text-decoration:none;
}
* html #links li a {width:200px;} /*Necessary to works with IE6*/
#links li a:hover {
 background-color:#F0F8FF;
}
#links a em {
 color:#333;
 display:block;
 font:normal 11px Verdana, Arial, Helvetica, sans-serif;
 line-height:125%;
}
#links a span {
 color:#125F15;
 font:normal 9px Verdana, Arial, Helvetica, sans-serif;
 line-height:150%;
}

.pic {
    margin-bottom: -4px;
    margin-right: 2px;
}