html, body {
	margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;     
    overflow-y: hidden;    
}

h2,h3 {
    margin-top: 0px;
    padding-top: 0px;
}

div#header {
	position: absolute;
	width: 100%;
	margin: 0 auto;	
	height: 60px;	
	top: 0px;	
	left: 0px;
	display: block;
	overflow: hidden;	
	min-width: 1000px;       
}

div#container {	
	position: absolute;
	width: 100%;
	margin: 0 auto;		
	top: 65px;
	left: 0px;
	bottom: 0px;     
    min-width: 1000px;   
    overflow: hidden;
}

div#body {	
	position: absolute;
	left: 0px;	
	top: 0px;
	bottom: 0px;
	width: 100%;
    float: left;
	background: #FFFFFF;    
	overflow: hidden;
}

div#topbar {
	display: block; 
	position: absolute;
	left: 0px;	
	top: 0px;
	height: 50px;
	width: 100%;
    float: left;
	background: #FFFFFF;    
	overflow: hidden;
	border-bottom: 1px solid #EAECEE;
	padding-left: 100px;    
}

div#sidebar {
	position: absolute;
	top: 55px;
    left:0px;
	bottom: 0px;
	float: left;
    width: 100px;
    background-color: #FFFFFF;
}

div#content {	
	position: absolute;
	left: 100px;	
	top: 55px;
	bottom: 0px;
	right: 0px;
    float: left;        
	background: #FFFFFF;
	overflow-y: auto;    
	overflow-x: hidden;
}

div#footer {
	position: relative;
    width: 750px;
    clear: both;
    margin-top: 100px;
    background-color: #F9FAFA;
}

.header-cell {
	display: inline-block; 
	vertical-align: middle;
	padding: 5px;
}

#header-left {
	float: left;
	display: inline-block;
    width: 550px;
    height: 100%;
    white-space: nowrap;	
    vertical-align: middle;
    text-align: left;
    padding: 5px;   
}

#header-right {
	float: right;
	display: inline-block;
    width: 550px;
    height: 100%;
    white-space: nowrap;	
    text-align: right;
    vertical-align: middle;
    text-align: right;
	padding: 5px;
}

.home-left-column {
	width: 50%;
	display: inline-block;
}

.home-right-column {
	width: 50%;
	display: inline-block;
}

.left_panel {
	font-size: 0.9em;
    width: 225px;
    height: 100%;
    float: left;
}

.grid_panels {
    vertical-align: top;
}

.feed-item {
	border-bottom: 2px solid #F0F0F0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0;
}

.feed-item-post {
	padding-bottom: 10px;
}

.feed-item-pic {
    float: left;
    width: 50px;    
}

.feed-item-text {
	position: relative;
	float: left;
	width: 390px;
	left: 5px;
	padding-bottom: 5px;	
}

.feed-item-tools {
	display: inline-block;
	vertical-align: top; 	
	float: right;
	text-align: right;
	width: 22px;
}

.feed-item-info {
	float: left;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0;
	text-decoration: none;
	color: gray; 
}

.feed-item-action {
	float: left;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 8px;
}

.feed-item-comment {
	border-top: 2px solid #F0F0F0;
	float: left;
	width: 370px;
	padding: 5px;
}

.feed-item-comment-pic {
    float: left;
    width: 40px;    	
}

.feed-item-comment-text {
	position: relative;
	float: left;
	width: 300px;
	left: 5px;
	padding-bottom: 5px;	
}




.column1 {
	width: 30%;
	text-align: left;
}

.column2 {
	width: 40%;
	text-align: center;
}

.column3 {
	width: 30%;
	text-align: right;	
}

.column75 {
	width: 75%
}

.column25 {
	width: 25%
}

.column35 {
	width: 35%;
}

.column65 {
	width: 65%;
}

.label-column {
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	height: 20px;
	width: 15%;
	font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
}

.column-l-align {
	text-align: left;
	padding-left: 5px;
	height: 20px;
	width: 35%;
	font-family: Arial, Verdana, sans-serif;
    font-size: 11px;	
}

.centered {
	margin: 0px auto;
}

.commandButton {
	cursor: pointer;
	height: 22px;	
}